<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Leon</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon"/>
    <!-- Custom fonts for this template -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,800" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
</head>